<ion-header>
  <ion-toolbar>
    <ion-title>NLCalc&#x2122;</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="text-align: center;">
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header style="text-align: center;">
      <ion-card-subtitle>Copyright: NLCalc&#x2122; Maurice Putz 2020<br> Further details to be implemented...</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
