.main-digit {
    ion-card-title {
        font-family: 'Brush Script MT';
        font-size: 42px;
    }

    ion-icon {
        font-size: 16px;
        margin-bottom: 16px;
        margin-left: 2px;
    }
}